extends ../layout

block content
    h1 Edit Place
    .container
        form(action='/places/' + place.id + '/edit' method='POST')
            .form-group
                label(for='name') Name
                input.form-control(type='text' id='name' name='name' value=place.name required)
            .form-group
                label(for='description') Description
                textarea.form-control(id='description' name='description' required)= place.description
            .form-group
                label(for='howToReach') How to Reach
                textarea.form-control(id='howToReach' name='howToReach' required)= place.howToReach
            .form-group
                label(for='phone') Phone
                input.form-control(type='text' id='phone' name='phone' value=place.phone required)
            .form-group
                label(for='imageUrl') Image URL
                input.form-control(type='text' id='imageUrl' name='imageUrl' value=place.imageUrl)
            button.btn.btn-primary(type='submit') Save Changes
            a.btn.btn-secondary(href='/places/' + place.id) Cancel
