extends ../layout

block content
    h1= place.name
    .container
        .row
            .col-lg-6
                img(src=place.imageUrl alt=place.name style='width: 100%;')
            .col-lg-6
                .card
                    .card-body
                        h5.card-title Описание
                        p.card-text= place.description
                        h5.card-title Местоположение
                        p.card-text= place.howToReach
                        h5.card-title Тел.
                        p.card-text= place.phone
                        a.btn.btn-primary(href='/places/' + place.id + '/edit') Промени
                        a.btn.btn-secondary(href='/places') Назад